In [7]:
import pandas as pd
data = [[31,20]]
df = pd.DataFrame(data,columns =['Banana', 'Mango'])
df

   Banana  Mango
0      31     20

In [4]:
data = [[31,20]]

In [5]:
df = pd.DataFrame(data,columns =['Banana', 'Mango'])

In [6]:
df

   Banana  Mango
0      31     20